---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Nosotros">
  <section
    class="px-5 lg:px-40 lg:mt-10 lg:pt-14 lg:pb-10 h-auto lg:w-full flex flex-col gap-14"
    aria-label="Seccion de vision, mision y objetivos de la empresa"
  >
    <h1 class="text-4xl lg:text-5xl font-semibold text-center px-5 md:px-40">
      Nosotros
    </h1>
    <div class="prose max-w-none">
      <h2 class="text-2xl font-semibold">Mision</h2>
      <p class="text-xl leading-10">
        Nuestra <strong>misión</strong> es diseñar y construir viviendas de alta
        calidad, sostenibles, accesibles, que satisfagan las necesidades y expectativas
        de nuestros clientes, al mismo tiempo les bridamos seguridad a través de
        la <strong>instalación de cercos perimetrales de alambres</strong> del que
        somos fabricantes, y para el entretenimiento y diversión en familia ofrecemos
        <strong>piletas de la mejor calidad</strong> para garantizarles un servicio
        integral y de calidad.
      </p>
    </div>
    <div class="prose max-w-none">
      <h2 class="text-2xl font-semibold">Vision</h2>
      <p class="text-xl leading-10">
        Ser <strong>líderes</strong> en la industria de la construcción de viviendas,
        de cercos y piletas y ser reconocidos por nuestra excelencia en diseño, <strong
          >calidad y sostenibilidad</strong
        >. Queremos ser sinónimo de:
        <ul class="text-xl">
          <li>Innovación y vanguardia en la construcción.</li>
          <li>Confianza y satisfacción del cliente.</li>
          <li>Sostenibilidad y responsabilidad ambiental.</li>
          <li>Colaboración y desarrollo de comunidades prósperas.</li>
          <li>Excelencia en nuestra gestión y operaciones.</li>
        </ul>
      </p>
    </div>
    <div class="prose max-w-none">
      <h2 class="text-2xl font-semibold">Valores</h2>
      <ul class="text-xl">
        <li>Integridad y transparencia.</li>
        <li>Innovación y mejora continua.</li>
        <li>Respeto y empatía hacia nuestros clientes y colaboradores.</li>
        <li>Compromiso con la sostenibilidad y el medio ambiente.</li>
        <li>Excelencia en la calidad y seguridad. Valores personales.</li>
      </ul>
    </div>
  </section>
</Layout>
