---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<header>
			<h1>Logo</h1>
			<menu>
				<li>Contacto</li>
				<li>Contacto</li>
				<li>Contacto</li>
				<li>Contacto</li>
			</menu>
		</header>
	</main>
</Layout>
