---
import Categories from "../components/molecules/Categories.astro";
import ContactSection from "../components/organisms/ContactSection.astro";
import Hero from "../components/organisms/Hero.astro";
import Services from "../components/organisms/Services.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Piletas">
  <main>
    <Hero />
    <Categories />
    <ContactSection />
    <Services />
  </main>
</Layout>
