---
import Categories from "../components/molecules/Categories.astro";
import ContactSection from "../components/organisms/ContactSection.astro";
import Services from "../components/organisms/Services.astro";
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/organisms/Testimonials.astro";
---

<Layout
  title="Grupo Bennu"
  description="Expertos en construcci칩n de piscinas, fabricaci칩n de alambres de calidad y dise침o de monoambientes modernos. Cont치ctanos para proyectos personalizados."
  ,
>
  <main>
    <Testimonials />
    <Categories />
    <ContactSection />
    <Services />
  </main>
</Layout>
