---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/molecules/Hero.astro";
import Header from "../components/molecules/Header.astro";
import Categories from "../components/molecules/Categories.astro";
import Services from "../components/molecules/Services.astro";
import ContactSection from "../components/molecules/ContactSection.astro";
import Footer from "../components/molecules/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <Hero />
    <Categories />
    <ContactSection />
    <Services />
    <Footer />
  </main>
</Layout>
