---
import HeaderLogo from "../atoms/HeaderLogo.astro";
import MenuOptions from "../atoms/MenuOptions.astro";

const year = new Date().getFullYear();
---

<footer class="w-full px-8 lg:px-40 py-20">
  <div class="flex justify-between items-center">
    <HeaderLogo />
    <MenuOptions />
  </div>
  <p class="text-gray-600">
    Lorem ipsum dolor sit amet, consectetuipisicing elit,
  </p>
  <div class="border-gray-200 border-b-[1px] my-20"></div>
  <div class="w-full text-center grid place-content-center text-gray-500">
    © {year} Manila. Powered by Astro. Dev Giaccomo
  </div>
</footer>
