---

---

<section class="px-5 lg:px-40 py-10 h-[700px] lg:w-full">
  <div
    class="grid grid-cols-1 lg:grid-cols-2 size-full bg-[#E7FAFE] rounded-2xl overflow-hidden"
  >
    <article class="flex flex-col justify-between py-10 px-14 gap-10">
      <div class="flex justify-between">
        <div
          class="w-fit px-4 size-10 bg-white rounded-full grid place-content-center"
        >
          <span class="font-bold font-inter">Piscina</span>
        </div>
        <div class="flex gap-3">
          <div
            class="w-fit px-4 size-10 bg-opacity-40 bg-gray-200 rounded-full flex items-center gap-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="100"
              height="100"
              viewBox="0 0 50 50"
              class="size-5"
            >
              <path
                d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M25,28c-0.462,0-0.895-0.113-1.286-0.3 l-6.007,6.007C17.512,33.902,17.256,34,17,34s-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l6.007-6.007 C22.113,25.895,22,25.462,22,25c0-1.304,0.837-2.403,2-2.816V8c0-0.553,0.447-1,1-1s1,0.447,1,1v14.184c1.163,0.413,2,1.512,2,2.816 C28,26.657,26.657,28,25,28z"
              ></path>
            </svg>
            <span>1 semana</span>
          </div>
          <div
            class="w-fit px-4 size-10 bg-opacity-40 bg-gray-200 rounded-full flex items-center gap-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="100"
              height="100"
              viewBox="0 0 48 48"
              class="size-5"
            >
              <path
                d="M39.5,43h-9c-1.381,0-2.5-1.119-2.5-2.5v-9c0-1.105-0.895-2-2-2h-4c-1.105,0-2,0.895-2,2v9c0,1.381-1.119,2.5-2.5,2.5h-9	C7.119,43,6,41.881,6,40.5V21.413c0-2.299,1.054-4.471,2.859-5.893L23.071,4.321c0.545-0.428,1.313-0.428,1.857,0L39.142,15.52	C40.947,16.942,42,19.113,42,21.411V40.5C42,41.881,40.881,43,39.5,43z"
              ></path>
            </svg>
            <span>Acabado</span>
          </div>
        </div>
      </div>
      <div class="space-y-4">
        <h1
          class="font-inter font-semibold text-3xl lg:text-6xl leading-[50px] lg:!leading-[75px]"
        >
          Diseño y calidad en todo el proyecto
        </h1>
        <p class="text-gray-600 leading-10">
          Trabajar con esta empresa fue una experiencia increíble. Desde el
          primer día nos brindaron atención personalizada y su equipo mostró un
          alto nivel de profesionalismo.
        </p>
      </div>
      <div class="flex w-full justify-between items-center">
        <div class="flex gap-4">
          <img
            src="https://i.pravatar.cc/50?img=60"
            class="rounded-full"
            alt="pablo jurel"
          />
          <div>
            <h2 class="font-semibold">Pellestrini</h2>
            <span class="text-sm text-gray-500">Mar 2022</span>
          </div>
        </div>
        <button
          class="bg-black text-lg px-7 py-3 rounded-xl text-white flex items-center gap-5"
        >
          Ver mas
          <svg
            class="size-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 2.25C10.0716 2.25 8.18657 2.82183 6.58319 3.89317C4.97982 4.96451 3.73013 6.48726 2.99218 8.26884C2.25422 10.0504 2.06114 12.0108 2.43735 13.9021C2.81355 15.7934 3.74215 17.5307 5.10571 18.8943C6.46928 20.2579 8.20656 21.1865 10.0979 21.5627C11.9892 21.9389 13.9496 21.7458 15.7312 21.0078C17.5127 20.2699 19.0355 19.0202 20.1068 17.4168C21.1782 15.8134 21.75 13.9284 21.75 12C21.747 9.41506 20.7188 6.93684 18.891 5.10901C17.0632 3.28118 14.5849 2.25299 12 2.25ZM15.416 12.624L10.916 15.624C10.8031 15.6995 10.6718 15.7428 10.5362 15.7494C10.4005 15.756 10.2657 15.7257 10.1459 15.6616C10.0262 15.5975 9.92612 15.5021 9.85639 15.3856C9.78665 15.2691 9.74988 15.1358 9.75 15V9C9.74988 8.8642 9.78665 8.73092 9.85639 8.6144C9.92612 8.49787 10.0262 8.40248 10.1459 8.3384C10.2657 8.27433 10.4005 8.24398 10.5362 8.2506C10.6718 8.25721 10.8031 8.30055 10.916 8.37598L15.416 11.376C15.5188 11.4445 15.603 11.5373 15.6613 11.6461C15.7195 11.755 15.75 11.8765 15.75 12C15.75 12.1235 15.7195 12.245 15.6613 12.3539C15.603 12.4627 15.5188 12.5555 15.416 12.624Z"
              fill="white"></path>
          </svg>
        </button>
      </div>
    </article>
    <figure class="relative hidden lg:block">
      <img
        class="absolute size-full left-0 top-0 object-cover"
        src="https://www.10wallpaper.com/wallpaper/1366x768/1403/swimming_pool_area-Cities_HD_Wallpaper_1366x768.jpg"
        alt="Imagen de una piscina en una zona urbana"
      />
    </figure>
  </div>
</section>
