---
const menuItems = ["Inicio", "Testomonios", "Servicios", "Contacto"];
---

<menu class="list-none gap-11 hidden md:flex" aria-label="menu de navegación">
  {
    menuItems.map((item) => (
      <li class="font-inter font-medium cursor-pointer">{item}</li>
    ))
  }
</menu>
