---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Historia & Equipo" description="Historia del Grupo Bennu">
  <section
    class="px-10 lg:px-40 lg:mt-10 lg:pt-14 lg:pb-10 h-auto lg:w-full flex flex-col gap-14"
    aria-label="Seccion que cuenta la historia y equipo"
  >
    <h1
      class="text-4xl my-20 lg:mt-0 lg:text-5xl font-semibold text-center px-5 md:px-40"
    >
      Historia & Equipo
    </h1>
    <div class="prose max-w-none">
      <h2 class="text-2xl font-semibold">Historia</h2>
      <p class="text-xl leading-10">
        En 2023, los fundadores, un grupo de amigos, unieron ideas, experiencia
        y compartieron su visión de crear una empresa que ofreciera soluciones
        integrales en el rubro de la construcción y servicios relacionados es
        decir que no solo construyeran casas, sino que también mejorara la
        calidad de vida de las personas y contribuyera al desarrollo sostenible
        de la comunidad, el objetivo es ayudar a nuestros clientes a hacer
        realidad sus proyectos y sueños.
        <h2>Equipo de trabajo</h2>
        <div>
          <h3>Francisco Obregón</h3>
          <ul class="text-xl">
            <li>Director de Operaciones.</li>
            <li>Cofundador</li>
          </ul>
        </div>
        <div>
          <h3>Lourant Sposito</h3>
          <ul class="text-xl">
            <li>Directora Financiera.</li>
            <li>Cofundadora.</li>
          </ul>
        </div>
        <div>
          <h3>Verónica Fernández</h3>
          <ul class="text-xl">
            <li>Dirección técnica.</li>
            <li>Arquitecta</li>
          </ul>
        </div>
        <div>
          <h3>Pablo Romaro</h3>
          <ul class="text-xl">
            <li>Asesor legal.</li>
          </ul>
        </div>
      </p>
    </div>
  </section>
</Layout>
