---
import HeaderLogo from "../atoms/HeaderLogo.astro";
import MenuOptions from "../molecules/MenuOptions.astro";
import SocialMedia from "../molecules/SocialMedia.astro";

const year = new Date().getFullYear();
---

<footer class="w-full px-8 lg:px-40 pt-20 pb-10">
  <div class="border-gray-200 border-b-[1px] my-10"></div>
  <div class="flex justify-between items-center">
    <HeaderLogo />
    <MenuOptions />
  </div>
  <div class="flex justify-between items-center">
    <p class="text-gray-600">
      Lorem ipsum dolor sit amet, consectetuipisicing elit,
    </p>
    <SocialMedia />
  </div>
  <div class="border-gray-200 border-b-[1px] my-20"></div>
  <div class="w-full text-center grid place-content-center text-gray-500">
    © {year} Manila. Powered by Astro. Dev Giaccomo
  </div>
</footer>
