---
import HeaderLogo from "../atoms/HeaderLogo.astro";
import MenuOptions from "../molecules/MenuOptions.astro";
import SocialMedia from "../molecules/SocialMedia.astro";

const year = new Date().getFullYear();
---

<footer class="w-full px-8 lg:px-40 pt-20 pb-10">
  <div class="border-gray-200 border-b-[1px] my-10"></div>
  <div class="flex justify-between flex-col lg:flex-row items-center">
    <div class="flex items-center gap-1">
      <img src="/bennu.svg" class="size-16" />
      <div>
        <p class="font-bold text-lg">Grupo Bennu</p>
        <p class="text-xs">Soluciones integrales</p>
      </div>
    </div>
    <MenuOptions />
  </div>
  <div class="border-gray-200 border-b-[1px] my-10"></div>
  <div class="w-full text-center grid place-content-center text-gray-500">
    © {year} Grupo Bennu. Powered by Astro. Dev Giaccomo
  </div>
</footer>
