---
import HeaderLogo from "../atoms/HeaderLogo.astro";
import MenuOptions from "../molecules/MenuOptions.astro";
import SocialMedia from "../molecules/SocialMedia.astro";
---

<header
  class="h-16 flex justify-between items-center px-4 py-10 md:px-40 z-10 border-gray-200 border-b-[1px] sticky top-0 bg-white"
>
  <a href="/" class="cursor-pointer">
    <HeaderLogo class="size-24" />
  </a>
  <MenuOptions />
  <SocialMedia />
</header>
