---
import { Image } from "astro:assets";
import CustomerPost from "../molecules/CustomerPost.astro";
---

<section class="size-fit flex">
  <div class="flex-1">
    <h1 class="text-5xl text-black leading-loose">
      Eficiencia en construcción
    </h1>
  </div>
  <div class="flex-[50%]"></div>
</section>
