---
import { getCollection } from "astro:content";
import ServiceCard from "./ServiceCard.astro";

const services = await getCollection("services");
---

<section
  class="flex flex-col pt-14 gap-8 w-full lg:mt-10"
  aria-label="Servicios disponibles"
>
  <h1 class="text-4xl lg:text-5xl font-semibold text-center px-5 md:px-40">
    Nuestros servicios
  </h1>
  <p class="text-xl leading-10 text-center">
    Con nuestros diseños exclusivos y servicios personalizados, transformar tu
    espacio en un paraíso es más fácil que nunca.
  </p>
  <ul class="flex flex-wrap px-8 md:px-40 pt-10">
    {services.map((item) => <ServiceCard data={item} />)}
  </ul>
</section>
