---
import Services from "../../components/organisms/Services.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Nuestros servicios">
  <section
    class="px-5 lg:px-40 py-10 lg:pt-0 lg:pb-10 h-auto lg:w-full flex flex-col gap-14"
    aria-label="Seccion de servicios"
  >
    <Services />
  </section>
</Layout>
